<div class="container">

  <div class="row my-3">
    <div class="col-lg-3">
      <h4>ショッピングカート</h4>
    </div>
    <div class="col-lg-9">
      <div class="text-right">
        <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class:"btn btn-danger" %> <!--右詰めにして表示-->
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table table-hover table-bordered ">
     <thead style="background-color: silver;"><!--表のヘッダー-->
       <tr>
        <th class="header1">商品名</th>
        <th class="header2">単価(税込み)</th>
        <th class="header3">数量</th>
        <th class="header4">小計</th>
        <th></th><!--なぜここがこれで１つ分余白ができる？→1個分の項目の空きスペース(入れ物が)が何も入力しないthタグを入れることでできるため-->
       </tr>
     </thead>

     <tbody>
      <% @cart_items.each do |cart_item| %>
       <tr>
        <td>
          <%= cart_item.item.name %><!--商品名-->
        </td>

        <td>
           <%= cart_item.item.with_tax_price %><!--単価（税込み）。モデルにメソッドを記載して呼び出している。-->
           <%#= (cart_item.item.price * 1.1).floor %><!--view内でのみ計算を完結させる場合はこの表記でも可能-->
        </td>

        <td>
          <%= form_with model: cart_item, url: cart_items_update_path(cart_item.id), local:true do |f| %>
            <%= f.hidden_field :item_id, value: cart_item.item.id %><!--cart_itemモデルに結び付いたアイテムモデルからid情報を取得-->
            <%= f.hidden_field :customer_id, value: current_customer.id %>
            <%= f.select :amount, *[1..9] %><%= f.submit '保存', class: "ml-2 btn btn-success" %>
          <% end %>
        </td>

        <td>
          <%= cart_item.subtotal %><!--小計。モデルにメソッドを記載して呼び出している。-->
          <%#= (cart_item.item.price * 1.1).floor * cart_item.amount %><!--view内でのみ計算を完結させる場合はこの表記でも可能-->
        </td>

        <% @total +=  (cart_item.item.price * 1.1).floor * cart_item.amount %><!--@totalに繰り返し処理の分だけ金額が加算されていく．表記しないから%=ではなく%で記述-->

        <td class="text-center">
          <%= link_to "削除する", cart_items_destroy_path(cart_item.id), method: :delete, class:"btn btn-danger" %><!--商品削除ボタン-->
        </td>

       </tr>
      <% end %>
     </tbody>

   </table>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <%= link_to "買い物を続ける", items_path, class:"mt-1 btn btn-primary" %>
    </div>

    <div class="col-lg-9">
      <table class="table table-bordered">
        <tr>

          <td style="background-color: silver;">
            合計金額
          </td>

          <td>
            <%= @total %>
          </td>

        </tr>
      </table>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-lg-12">
      <%= link_to "情報入力に進む",  new_order_path, class:"btn btn-success" %>
    </div>
  </div>

</div>