<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border-bottom">
    <!--containerではなくその外側のheader領域にかけてあげることである程度外の位置に下線が引ける-->

    <nav class="navbar navbar-expand-lg">
    <!--navbarを子要素が横並びになる-->
    <!--あくまでヘッダーの領域（箱の大きさ，文字色，背景色を決めているだけ）-->
    <!--navbarとは他のnavbar関連のクラスを使用できるようにする-->


     <div class="container">
      <%= link_to "LOGO", root_path, class:"navbar-brand p-8 text-dark" %>
      <!--navbar-brandはサイト名を作成するときに使用するclass。左上に配置される感じ？-->
      <!--navbar-brandとクラスを入力することで、親要素のnavタグのnavbar-darkが適用される-->

       <% if customer_signed_in? %>
        <ul class="navbar-nav ml-auto list-unstyled mb-3">
  <!--listタグの点（リストマーカー）を削除するにはlist-unstyledを追加する-->
  <!--mb-3でmarginのbottom部に3の大きさの隙間が入る感じ-->
         <li class="navbar-brand p-8 btn btn-outline-dark">
           マイページ
         </li>

         <li class="navbar-brand p-8 btn btn-outline-dark">
           商品一覧
         </li>

         <li class="navbar-brand p-8 btn btn-outline-dark">
           カート
         </li>

         <li class="navbar-brand p-8 btn btn-outline-dark">
           ログアウト
         </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ml-auto list-unstyled mb-3">
  <!--ml-auto（左寄せ等の移動はnavbar-navもセットで覚える）-->
         <li class="navbar-brand p-8 btn btn-outline-dark">
           About
         </li>

         <li class="navbar-brand p-8 btn btn-outline-dark">
          商品一覧
         </li>

         <li class="navbar-brand p-8 btn btn-outline-dark">
           新規登録
         </li>

         <li class="navbar-brand p-8 btn btn-outline-dark">
           ログイン
         </li>
        </ul>
     <% end %>
      </nav>
      </div>
     </header>

    <main style="min-height: 777px">
    <!--777px最低限空間をつくる．これを超える要素が入ってきた場合はその大きさに領域は伸びる-->
    <%= yield %>
    </main>

    <footer class="border-top" style="height: 75px;">
    <!--空白用。下に75px何もない領域を作成している-->
    </footer>

  </body>



</html>
